:root {
  --clr-primary: #0cba5e;
  --clr-primary-dark: #064423;
  --clr-primary-light: #6bbf59;
  --clr-secondary: #bf5959;
  --clr-body-bg: #f1f8ec;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--clr-body-bg);
  padding-bottom: 30px;
}

.container {
  max-width: 1410px;
  margin-inline: auto;
  padding-inline: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

h2 {
  margin-block: 20px;
  color: var(--clr-primary-light);
  font-size: clamp(1.125rem, 1.5vw + 1rem, 2.5rem);
}

.logo {
  font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-modal .flex {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.nav--primary {
  background-color: var(--clr-primary);
  color: #fff;
  padding: 7px 0 15px 0;
  font-size: clamp(1.125rem, 1vw + 1rem, 2rem);
}

.nav--primary .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--primary nav {
  flex: 1;
}

.nav--primary ul {
  display: flex;
  gap: 10%;
  justify-content: center;
}

.nav--primary li {
  position: relative;
}

.account {
  position: relative;
}

.account > button {
  display: flex;
  align-items: center;
  gap: 20px;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
}

.account img {
  height: 40px;
}

.active::after {
  content: "";
  width: 30px;
  height: 5px;
  border-radius: 999px;
  background-color: #fff;
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translateX(-50%);
}

.account-info {
  background-color: #fff;
  color: var(--clr-primary-dark);
  text-align: center;
  padding: 15px 20px;
  border-radius: 7px;
  position: absolute;
  top: 150%;
  right: 0;
}

.account-info button {
  background-color: transparent;
  border: none;
  font-size: 0.75em;
  color: #575757;
}

.account-info .username,
.account-info img {
  display: none;
}

.transactions {
  margin-block: 20px;
}

.transactions table {
  background-color: #fff;
  width: 100%;
  text-align: left;
  border-radius: 31px;
  border: 1px solid var(--clr-primary-light);
  padding: 20px 40px;
  font-size: clamp(0.875rem, 5vw - 1.25rem, 2rem);
  border-spacing: 0 10px;
  color: var(--clr-primary-dark);
}

.transactions th {
  color: var(--clr-primary-light);
}

.separation-line {
  height: 2.5px;
  background-color: var(--clr-primary);
}

.gain {
  color: var(--clr-primary-light) !important;
}

tr.gain > td:first-child::after {
  background-color: var(--clr-primary-light);
}

tr + tr {
  margin-top: 10px;
}

thead > tr:first-of-type {
  min-height: 20px;
  position: relative;
}

thead > tr:first-of-type > td {
  min-width: 20px;
  position: absolute;
  right: 0;
  margin-left: auto;
  display: block;
}

.sort img {
  max-height: 100%;
  height: clamp(1rem, 1.5vw + 1rem * 0.6, 1.7rem);
}

.download:hover {
  cursor: pointer;
  background-color: var(--clr-primary);
}

.download,
.delete-confirmation .cancel {
  background-color: var(--clr-primary-light);
  color: #fff;
  border: none;
  font-size: clamp(1.125rem, 1.5vw + 1rem * 0.8, 1.7rem);
  padding: 5px 20px;
  border-radius: 7px;
}

.delete-confirmation {
  max-width: 300px;
  text-align: center;
}

.delete-confirmation .delete-transaction {
  background-color: var(--clr-secondary);
  color: #fff;
  border: none;
  padding: 5px 20px;
  font: inherit;
  border-radius: 7px;
}

.delete-confirmation .cancel {
  font-size: inherit;
}

.delete-confirmation > div {
  display: flex;
  justify-content: space-between;
}

.delete-confirmation p {
  margin-bottom: 20px;
}

.download svg {
  height: clamp(1.125rem, 1.5vw + 1rem * 0.5, 1.7rem);
  fill: #fff;
}

.btn {
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

.btn svg {
  height: clamp(1.125rem, 1.5vw + 1rem, 1.7rem);
  margin-bottom: -5px;
  margin-left: 10px;
  fill: var(--clr-primary-light);
}

.btn:hover svg {
  fill: var(--clr-primary);
}

.sort {
  position: absolute;
  top: 0;
  right: 0;
}

.sort__select {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  top: anchor(bottom);
  right: anchor(center);
  transform: translateX(-100%);
  margin-top: 20px;
  position: absolute;
  z-index: 1;
}

.sort__select button {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  border: none;
  background-color: #fff;
  font-size: clamp(0.875rem, 5vw - 1.25rem, 2rem);
  text-align: left;
  padding: 5px 7px;
}

.sort__select button:hover {
  outline: 1px solid gray;
  z-index: 1;
}

.sort__select button:active,
.sort__select button:focus {
  color: #fff;
  background-color: var(--clr-primary-light);
}

.sort--dsc {
  transform: rotate(180deg);
}

.sort__select img {
  height: clamp(0.875rem, 5vw - 1.25rem, 2rem);
}

.hidden {
  display: none;
}

dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid gray;
  border-radius: 7px;
  padding: 10px 20px;
  color: var(--clr-primary-light);
  width: 500px;
}

dialog label {
  margin-right: 5px;
  font-size: clamp(0.875rem, 5vw - 1.25rem, 1.5rem);
}

dialog input {
  margin-right: 30px;
  font: inherit;
}

button {
  font: inherit;
}

dialog h2 {
  font-size: clamp(1.125rem, 1.5vw + 1rem * 0.7, 2.5rem);
}

dialog p {
  margin-block: 10px 20px;
}

dialog button.close {
  padding: 5px 20px;
  margin-block: 0 20px;
  border-radius: 6px;
  border: none;
  background: var(--clr-primary-light);
  color: #fff;
  margin-left: auto;
  display: block;
}

.category-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

label.category {
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 9999px;
  padding: 5px 10px;
}

label.category:hover {
  cursor: pointer;
}

.btn--cancel,
.btn--filter,
form button {
  font-size: 1.15rem;
  padding: 5px 20px;
  margin-block: 20px 20px;
  border-radius: 6px;
  border: none;
}

.btn--cancel {
  background: #d9d9d9;
  color: #7e7e7e;
  margin-right: 30px;
}

.btn--filter {
  background: var(--clr-primary-light);
  color: #fff;
}

.btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

input[type="checkbox"] {
  display: none;
}

label.selected {
  background-color: #6bbf59;
  color: #fff;
}

form {
  background-color: #fff;
  padding: 10px 35px 30px 35px;
  accent-color: var(--clr-primary-light);
  border-radius: 20px;
  font-size: 1.125em;
}

form > section:first-of-type {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

form article {
  margin-block: 20px;
}

form input,
select {
  font: inherit;
  background-color: #fff;
  border: 1px solid grey;
  padding-left: 5px;
  font-size: clamp(1.125rem, 5vw - 1.5rem * 0.2, 1.5rem);
}

.filter__modal input[type="date"] {
  display: block;
  margin-bottom: 10px;
}

form label {
  margin-right: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

form button {
  margin-inline: auto;
  display: block;
  background-color: var(--clr-primary-light);
  color: #fff;
  border: none;
  border-radius: 7px;
  padding: 5px 20px;
  margin-top: 50px;
}

input:disabled {
  background-color: #5b5a5a44;
  cursor: not-allowed;
}

form > button[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--clr-primary);
}

form > div:last-of-type {
  display: flex;
  justify-content: end;
  gap: 30px;
}

form  button.btn--cancel,
form button {
  padding: 5px 10px;
  margin: 10px 0 0 0;
}

@media (max-width: 62.5em) {
  .account > button > .username {
    display: none;
  }

  .account-info .username {
    display: block;
    width: max-content;
  }

  .account-info img {
    display: inline;
  }
}

@media (max-width: 53.125em) {
  .nav--primary > .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);
    row-gap: 5px;
  }

  nav {
    grid-area: 2 / span 2;
  }

  .nav--primary ul {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
  }

  .account {
    justify-self: end;
  }
}

td button {
  background-color: #fff;
  border: none;
}

td > button > span {
  display: none;
}

.more-opt {
  display: none;
}

.delete img {
  height: clamp(0.875rem, 5vw - 1.25rem, 2rem);
}

.edit img {
  height: clamp(0.875rem, (5vw - 1.25rem) / 1.25, 1.55rem);
  margin-right: 5%;
}

.delete span,
.edit span {
  display: none;
}

.actions .hidden {
  display: inline;
}

@media (max-width: 37.5em) {
  .delete img,
  .edit img {
    display: none;
  }

  .delete span,
  .edit span {
    display: inline;
    color: #575757;
  }

  .delete,
  .edit {
    text-align: start;
    padding: 2px 7px;
  }

  .delete:hover,
  .edit:hover {
    outline: 1px solid #575757;
  }

  .delete:active,
  .edit:active {
    outline: 1px solid #575757;
    background-color: var(--clr-primary-light);
  }

  .delete:active span,
  .edit:active span {
    color: #fff;
  }

  .actions {
    position: relative;
  }

  .delete {
    margin-top: -1px;
  }

  .actions > div {
    display: flex;
    flex-direction: column;
    border: 1px solid #575757;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-20%, 70%);
    z-index: 32;
  }

  .actions .hidden {
    display: none;
  }

  .more-opt {
    display: inline;
    grid-row: span 2;
    margin-left: 16px;
    padding: 5px 7px;
  }

  .more-opt img {
    height: 13px;
  }

  thead th,
  .separation-line {
    display: none;
  }

  tr {
    display: grid;
    grid-template-columns: max-content repeat(3, 1fr) min-content;
  }

  tr > .counterparty {
    grid-area: 1 / 1 / 2 / span 2;
    font-size: 1rem;
  }

  tr > .date {
    grid-area: 2;
    font-size: 0.875rem;
  }

  tr > .date::after {
    content: "";
    height: 5px;
    width: 5px;
    display: inline-block;
    margin-inline: 5px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: var(--clr-primary-dark);
  }

  tr > .amount {
    grid-area: 1 / 3 / 2 / span 2;
    justify-self: end;
    font-size: 1rem;
  }

  tr > .category {
    grid-area: 2;
    font-size: 0.875rem;
  }

  .download {
    background-color: transparent;
    width: min-content;
    padding: 0;
    margin: 0;
  }

  .download:hover {
    background-color: transparent;
  }

  .download span {
    display: none;
  }

  .download svg {
    fill: var(--clr-primary-light);
    height: clamp(1.125rem, 1.5vw + 1rem * 0.9, 1.7rem);
    margin-bottom: -5px;
  }

  .download:hover svg {
    fill: var(--clr-primary);
  }

  .filter svg {
    width: 30px;
  }
}
