:root {
  --clr-primary: #0cba5e;
  --clr-primary-dark: #064423;
  --clr-primary-light: #6bbf59;
  --clr-secondary: #bf5959;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: var(--clr-primary);
}

hgroup {
  align-self: flex-start;
  margin-top: 50px;
}

h1 {
  font-size: clamp(3rem, 2vw + 2.5rem, 4rem);
}

.container {
  max-width: 1210px;
  margin-inline: auto;
  padding-inline: 20px;
  min-height: 100svh;
}

.clr-text-secondary {
  color: #fff;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accent-clr {
  color: var(--clr-primary);
}

.bg {
  background-color: var(--clr-primary);
  color: var(--clr-primary-dark);
  min-height: 100svh;
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

.bg::after {
  content: "";
  background-color: var(--clr-primary-light);
  width: 200vw;
  height: 200vh;
  position: absolute;
  z-index: -1;
  top: 60vh;
  left: 50%;
  margin-left: -100vw;
  transform: rotate(-21deg);
}

form {
  background-color: #dfe6da;
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 9px 15px 10px 0px #00000040;
  font-size: clamp(1rem, 5vw - 1.75rem, 1.25rem);
  max-width: 537.75px;
  width: 100%;
}

hgroup p {
  font-size: clamp(1.5rem, 1.2vw + 1.25rem, 2.25rem);
}

h2 {
  font-size: clamp(1.5rem, 2vw + 0.75rem, 2.25rem);
  margin-bottom: 29px;
}

input:not(input[type="checkbox"]) {
  display: block;
  width: 100%;
  border: none;
  margin-block: 10px 15px;
  min-height: 3rem;
  border-radius: 7px;
  border: 1px solid #a0a39f;
  background: #f1f8ec;
  font: inherit;
  padding-inline: 10px;
}

input[type="checkbox"] {
  border-radius: 7px;
  border: 1px solid #a0a39f;
  background: #f1f8ec;
  accent-color: var(--clr-primary);
}

input[type="password"] {
  padding-bottom: 4px;
}

.btn {
  background-color: var(--clr-primary);
  color: #fff;
  font-family: "Lato";
  border-radius: 7px;
  border: none;
  width: 100%;
  font-size: 1.5rem;
  padding-block: 10px;
  margin-block: 30px 5px;
}

form > p:last-child {
  margin-top: 40px;
}

.form__name {
  display: flex;
  gap: 20px;
}

.form__name input {
  display: inline-block;
}

dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  border: 1px solid #7f7f7f;
  background: #f1f8ec;
  padding: 10px 20px;
  color: var(--clr-primary-dark);
  font-size: clamp(1rem, 5vw - 1.75rem, 1.25rem);
}

dialog p {
  margin-block: 10px 20px;
}

dialog button {
  padding: 5px 20px;
  margin-block: 0 20px;
  border-radius: 6px;
  border: none;
  background: var(--clr-primary-light);
  color: #fff;
  margin-left: auto;
  display: block;
}

@media (max-width: 57.9375em) {
  .flex {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  hgroup {
    margin-top: 20px;
    text-align: center;
    margin-inline: auto;
  }

  form {
    margin-bottom: 50px;
  }

  form h2 {
    text-align: center;
  }
}

.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 32px;
  padding-top: 4px;
  cursor: pointer;
}

.control + .control {
  margin-top: 10px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 25px;
  width: 25px;
  background: #e6e6e6;
  border: 1px solid #a0a39f;
  border-radius: 7px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #cccccc;
}

.control input:checked ~ .control_indicator {
  background: #0cba5e;
}

.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: "";
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-checkbox .control_indicator:after {
  left: 10px;
  top: 4px;
  width: 4px;
  height: 9px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
  border-color: #7b7b7b;
}
.control-checkbox .control_indicator::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: #2aa1c0;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}

button:hover {
  cursor: pointer;
}
