<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Budget Nest</title>

    <link rel="stylesheet" href="../static/css/signin.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet" />

    <script type="module" defer src="../static/js/signup.js"></script>
  </head>
  <body>
    <div class="bg">
      <div class="container flex">
        <hgroup class="clr-text-secondary">
          <h1>Budget Nest</h1>
          <p>Nest, Invest and Rest Easy</p>
        </hgroup>
        <form action="" class="signup">
          <h2>Reset Password</h2>
          <section class="form__name">
            <article>
              <label for="first-name">First Name</label>
              <input type="text" name="first-name" id="first-name" required />
            </article>
            <article>
              <label for="last-name">Last Name</label>
              <input type="text" name="last-name" id="last-name" />
            </article>
          </section>
          <section class="form__email">
            <label for="email">Email ID</label>
            <input type="text" name="email" id="email" required pattern="[a-zA-Z]([.\-+_]?[a-zA-Z0-9]+)*@[a-zA-Z]+(-?[a-zA-Z]+)+(\.[a-zA-Z]+-?[a-zA-Z]+)?(\.[a-zA-Z]{2,}){1,2}$" />
          </section>
          <section class="form__password">
            <article>
              <label for="password">Password</label>
              <input type="password" name="password" id="password" required />
            </article>
            <article>
              <label for="confirm-password">Confirm Password</label>
              <input type="password" name="confirm-password" id="confirm-password" required/>
            </article>
          </section>
          <section>
            <button class="btn" id="sign-up" type="button">Sign Up</button>
            <p>Already have an account? <a href="/" class="sign-in">Sign in</a></p>
          </section>
        </form>
      </div>
    </div>
  </body>
</html>
